@model Chat

<div class="chat-body">

    @foreach (var msg in Model.Messages)
    {

        <div class="message">
            <header>@msg.Name</header>
            <p>@msg.Text</p>
            <footer>@msg.Timestamp</footer>
        </div>

    }
</div>

<form class="chat-input" onsubmit="sendMessage(event)" asp-controller="Home" asp-action="CreateMessage">
    <input type="hidden" name="roomId" value="@Model.Id">
    <input type="text" name="message" id="message-input">
    <button type="submit">Send</button>

</form>

@section scripts{
    <script src="~/js/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        var _connectionId = '';

        connection.on("RecieveMessage", function (data2) {


           

            var current_user = -1;
         getCurentUser()
                .then(data => {
                 
            console.log(data2.currentUser);
            console.log(data);

           var message = document.createElement("div")

          if (data2.currentUser == data)
               message.classList.add('message_left')
           else
              message.classList.add('message_right')

           var header = document.createElement("header")
           header.appendChild(document.createTextNode(data2.name))

           var p = document.createElement("p")

           if (data2.currentUser == data)
               p.classList.add('p_color_message_left')
            else
               p.classList.add('p_color_message_right')

            p.appendChild(document.createTextNode(data2.text))

            var footer = document.createElement("footer")
            footer.appendChild(document.createTextNode(data2.timestamp))

            message.appendChild(header);
            message.appendChild(p);
            message.appendChild(footer);

            document.querySelector('.chat-body').append(message)

            });
        })

        function getCurentUser(){

            return axios.get('/Chat/GetCurrentUser')
                .then(response => {
                    this.response = response.data
                    return this.response
                })
        }


        var joinRoom = function () {
            var url = '/Chat/JoinRoom/' + _connectionId + '/@Model.Id'
            axios.post(url, null)
                .then(res => {
                    console.log("Room Joined!",res);
                })
                .catch(err => {
                    console.err("Faild to Join Room!", err);
                })
        }
        connection.start()
            .then(function () {
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId
                        joinRoom();
                    })
            })
            .catch(function (err) {
                console.log(err)
            })

        var sendMessage = function (event) {
            event.preventDefault();


            var data = new FormData(event.target)
            document.getElementById('message-input').value = '';

            axios.post('/Chat/SendMessage', data)
                .then(res => {
                    console.log("Message sent!");
                })
                .catch(err => {
                    console.log("Failed to sent message!")
                })
        }

    </script>
}
