<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">

    </div>


    <div class="main">
        <vc:room></vc:room>
        <div class="chat">
            @RenderBody()
        </div>


    </div>

    <div class="modal" id="create-room-modal">
       
        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts",false)

</body>
</html>
