<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbarx">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Find">Find</a>
        <a asp-controller="Home" asp-action="Private">Private</a>

        <span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
        <div class="noti-content">
            <div class="noti-top-arrow"></div>
            <ul id="notiContent"></ul>
        </div>
    </div>




    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }
        <div class="chat">
            @RenderBody()
        </div>


    </div>

    <div class="modal" id="create-room-modal">

        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
    <style type="text/css">
        .noti-content {
            position: absolute;
            right: 100px;
            background: #e5e5e5;
            border-radius: 4px;
            top: 47px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #fff;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 32px;
            top: -8px;
        }

        span.noti {
            color: #FF2323;
            margin: 15px;
            position: absolute;
            right: 100px;
            font-size: 18px;
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -3px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*Add jQuery code for get  notification & setup  signalR*@
<script type="text/javascript">

    $(function () {
        //click on notification icon for show notification
        $('span.noti').click(function (e) {
            e.stopPropagation();
            $('.noti-content').show();
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            //only load notification if not already loaded
            if (count > 0) {
                updateNotification();
            }
            $('span.count', this).html('&nbsp');
        })
        //hide notifications
        $('html').click(function () {
            $('.noti-content').hide();
            
        })

        //update notification count
        function updateNotificationCount() {
            var count = 0;
            count++;
            $('span.count').html(count);
        }

        //update notification
        function updateNotification() {
            console.log('Notificare!')
            $('#notiContent').empty();
            $('#notiContent').append($('<li>Loading...</li>'));
            $.ajax({
                type: 'GET',
                url: '/Home/GetNotifications',

                success: (result) => {
                    $('#notiContent').empty();
                    if (result.length == 0) {
                        $('#notiContent').append($('<li>No data avariable</li>'));
                    }

                    $.each(result, (k, v) => {
                        $('#notiContent').append($(`<li>New Contact : ${v.id} -- ${v.name}  added </li>`))

                    })


                },


                error: function (error) {
                    console.log(error);
                }
            })
        }

        $(() => {



            var _connectionId = '';
            let connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build()



            connection.start()
                .then(function () {
                    connection.invoke('getConnectionId')
                        .then(function (connectionId) {
                            _connectionId = connectionId
                            console.log('Connection Start!')
                        })
                })
                .catch(function (err) {
                    console.log(err)
                })

          

            connection.on("initSignal", (message) => {

                console.log("We got signal! and the message is: " + message);

            });
           

            connection.on("added", function () {
                console.log('Connection On!')

               
                updateNotificationCount();   
                updateNotification();
             
            })
           

            updateNotification();







        })
    })



















</script>
</body>
</html>
